
<div class="jumbotron">
    <h1 id="transition">About</h1>
</div>

<div class="container-fluid" id="main-intro-container">
    <div class="row">
		<div class="col-md-6">
			<img class="text-center" id="about-photo" src="https://scontent.fphx1-2.fna.fbcdn.net/v/t1.0-9/21430323_10207452842717823_4394987456550580378_n.jpg?_nc_cat=103&_nc_eui2=AeHQHCXzLrFdeMQnSGpRn-vx24wBTwqJQ1ZcmkFr1LkJmLCiMt8_8ZiZRlqWo7kJQkYEoZPpb3r5MEwY7fMa6UiLhQnUyckvGCGXayvz6RyRLA&_nc_oc=AQmaCNjq3O5ElSI5nw4UMObWICVmr8DJDuNpPop5NOF41E55jzxUJrb2zkOUsNFYLk5HcJuaW-XILv9XkZlrdswh&_nc_ht=scontent.fphx1-2.fna&oh=9f3e144cd5399940c5b6740736fdbfef&oe=5DC35941" alt="Grand-Canyon-Trip">
		</div>
		<div class="col-md-6">
			<h4 class="text-center">Family</h4>
			<p id="first-intro">
				I 'am a proud father of 4 beautiful girls, they are the love of my life.  My family consist of 7 girls! i am the only male in my house hold
				even my dog is a girl! but i love them all with all my heart and would do anything for them.
			</p>
			<h4 class="text-center">Education</h4>
			<p id="second-intro">
				Two years ago in the spring of 2017 i made the choice to persue my Full Stack Web Certification throguh a BootCamp called Coder-Camps. 
				I graduated from the online BootCamp, and was the first one in the history of the BootCamp to be an online student to go to the main campus 
				for graduation and present my capstone project.  My partner and i had created a Full Stack Web App that solved an issue i was having at work 
				this project consisted of a React.JS Front-End, MSSQL Database that was hosted on the cloud through GearHost, and a ASP.NET Core 2.0 Backend
			</p>
		</div>
	</div>
</div>

<div class="container-fluid" id="skills">
	<h3 class="text-center">Skills</h3>
		<div class="progrss-container">
			<div class="container">

				<h5 id="skills-info" class="text-center">HTML</h5>
				<div class="progress">
					
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 30%;">30%</div>
				</div>
				<br/>
				<h5 class="text-center" id="skills-info">CSS3</h5>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 35%;">35%</div>
					</div>
					<br/>
				<h5 class="text-center" id="skills-info">Angular2+</h5>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%;">50%</div>
				</div>
				<br/>
				<h5 class="text-center" id="skills-info">ASP.NET Core</h5>
				<div class="progress">
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;">75%</div>
				</div>
				<br/>
				<h5 class="text-center" id="skills-info">SQL/NoSQL</h5>
				<div class="progress">
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;">80%</div>
				</div>
		</div>
	</div>
</div>
