@media only screen and (min-width: 1200px){
 
    .container { 
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .main { 
        flex: 3;
        margin-right: 15px;
        margin-left: 30px;
        background: white url('../../../assets/images/drawing.svg') no-repeat bottom right;
        background-size: 100%;
    }
    
    aside {
        flex: 1;
    }

    #main-intro { 
        font-weight: bold;
        font-size: 55px;
        font-family: 'Oswald', sans-serif;
    }

    img { 
        height: 700px;
        width: inherit;
    }

    #second-into { 
        font-weight: bold;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
    }

    #projects-button { 
        margin-top: 20px;
        width: 150px;
        margin-left: 15px;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
    }


}

@media only screen and (min-width: 1199px){
 
    .container { 
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .main { 
        flex: 3;
        margin-right: 10px;
        margin-left: 100px;
        background: white url('../../../assets/images/drawing.svg') no-repeat bottom right;
        background-size: 100%;
    }
    
    aside {
        flex: 1;
    }

    #main-intro { 
        font-weight: bold;
        font-size: 55px;
    }

    img { 
        height: 700px;
        width: inherit;
    }

    #second-into { 
        font-weight: bold;
        font-size: 22px;
    }

    #projects-button { 
        margin-top: 20px;
        width: 150px;
        margin-left: 15px;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
    }


}