<!-- <div id="main-aside-div">
  <aside>
    <img src="../../../assets/images/main-image.svg"/>
  </aside>
</div>

<div id="main-left-div">
  <aside id="left-aside">
      <h1>My name is Ryan Brown, and I 'am a Full Stack Web Developer</h1>
  </aside>
</div> -->

<div class="container">
  <div class="wrapper">
    <aside>
        <img src="../../../assets/images/main-image.svg"/>
    </aside>
    <section class="main">
      <h1 id="main-intro">My name is Ryan Brown <br/>and I 'am a Full Stack Web Developer</h1>
      <p id="second-into">I started this journy 2 years ago and would <br/>love for you to view my projects</p>
      <button type="button" id="projects-button">Projects</button>
    </section>
  </div>
</div>