/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
body, html {
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Montserrat'
}

